body {
    background: #E6E6E6;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    poistion: relative;
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 16px;
    line-height: 1;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: black;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.social-icon { 
    float: left; 
    width: 27px;
    height: 27px;
    background-color: black;
    margin-right: 10px

}

.company-icon {
    float: left;
    width: 198px;
    height: 190px;
    margin-right: 17px;
    margin-right: 18px;
    background: white;
}

.company-icon-last {
    margin-right: 0px;
}

hr {
     color: black;
     background: black; 
     height: 5px;
}