<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    <h1></h1>
    <h1 class="col-lg-6 col-lg-offset-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h1>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-5">
        <div class="social-icon"></div>
        <div class="social-icon"></div>
        <div class="social-icon"></div>
        <div class="social-icon"></div>
        <div class="social-icon"></div>  
      </div>
    </div>
  </div>
</header>

<div class="container"><hr></hr></div>


<div class="container" ng-show="iconselected === ''">
  <div class="row">
    <div class="col-lg-12">
      <div class="company-icon"></div>
      <div class="company-icon"></div>
      <div class="company-icon"></div>
      <div class="company-icon company-icon-last"></div>      
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="company-icon"></div>
      <div class="company-icon"></div>
      <div class="company-icon"></div>
      <div class="company-icon company-icon-last"></div>
    </div>
  </div>
</div>

<div class="container"><hr></hr></div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
